<!--The ng-controller directive tells Angular the scope of the controller-->
<!--In this case, the EditCtrl is given the scope of the <div> element where it is called-->
<!--We then use EditCtrl (as ctrl) to manipulate elements within this <div>-->
<div ng-controller="EditCtrl as ctrl">
    <div class="page-header">
        <h1>Grocery Shopping System
            <small>Edit</small>
        </h1>
    </div>
    <br/>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="name">Product name:</label>
            <input id="name" class="form-control" type="text" name="name"
                   placeholder="Enter product name"
                   ng-model="ctrl.name"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>

    <hr>
    <table class="table table-striped" ng-show="ctrl.showDetails">
        <thead>
        <tr>
            <th>Product Attributes</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Product name</td>
            <td>
                {{ ctrl.result.name }}
            </td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                    {{ ctrl.result.brand }}
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                </div>
                <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control" size="1" ng-model="ctrl.result.brand">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success"
                                    ng-click="ctrl.updatePdtBrand()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        <tr>
            <td>Manager</td>
            <td>
                <button type="button" class="btn btn-link btn-sm"
                        ng-disabled="!ctrl.result.manager_name"
                        ng-click="ctrl.deleteManager()">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>Manager Name</td>
            <td>{{ ctrl.result.manager_id
                ? ctrl.result.manager_name + " (ID: " + ctrl.result.manager_id + ")"
                : "No manager found." }}
            </td>
        </tr>
        <tr>
            <td>Years served</td>
            <td>{{ ctrl.result.manager_id
                ? ctrl.result.manager_from + " to " + ctrl.result.manager_to
                : "--" }}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<span ng-show="ctrl.showManager">
                 <!-- Handles display of departments that have not been assigned any manager -->
                {{ dept.managers[0] ? dept.managers[0].emp_no : " "}}
            </span>

<span ng-show="ctrl.showManager">
                 <!-- Handles display of departments that have not been assigned any manager -->
                {{ dept.managers[0]
                ? (dept.managers[0].employee.first_name + " " + dept.managers[0].employee.last_name)
                : " "}}
            </span>
