<!--The ng-controller directive tells Angular the scope of the controller. In this case, the SearchCtrl is given
the scope of the <div> element where it is called. We then use SearchCtrl (as ctrl) to manipulate elements within
this <div>-->
<div ng-controller="SearchCtrl as ctrl">
    <div class="page-header">
        <h1>Grocery Shopping System
            <small>Search</small>
        </h1>
    </div>
    <br>

    <!--Search UI-->
    <!-- Creates Input Form and fields for uesr to enter search string -->
    <form name="queryForm" class="form-inline">
        <div class="form-group">
            <input id="pdtName" class="form-control" type="text"
                   name="pdtName"
                   ng-model = "ctrl.searchString"
                   size="50"
                   placeholder="Enter product or item name/brand">
        </div>
    </form>
    <!--{{ ctrl.searchString }}-->

    <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Product
            </button>
            <!--<button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchForManager()">
                Search with Department Manager Info
            </button>-->
    </div>
    <hr>
    <!-- Creates area to display search result-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product/Item Name</th>
            <th>Product/Item Brand</th>
            <!--<th>ID</th>-->
            <th>UPC12</th>
        </tr>
        </thead>
            <tbody>
            <!--ng-repeat directive repeats an HTML element a number of times. The syntax ng-repeat = "x in y" allows us
            to iterate through an array or object. In the case below, we are iterating through the contents of the array
            of objects ctrl.departments, dept is assigned an instance (i.e, an object) of the array-->
            <tr class="animation" ng-repeat="pdt in ctrl.products | orderBy: pdt.name | filter:ctrl.searchString">
                <td>{{ pdt.name }}</td>
                <td>{{ pdt.brand }}</td>
                <!--<td>{{ pdt.id }}</td>-->
                <td>{{ pdt.upc12 }}</td>    
                <td>
                    <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                        <a href="http://localhost:3000?pdt.id">
                    Edit</a>
                    </button>
                </td>         
        
            </tr>
            </tbody>
    </table>
</div>